@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map");
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Karantina:wght@300;400&display=swap");

root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  body {
    @apply overflow-x-hidden;
  }
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer base {
  .karantina {
    font-family: Karantina, system-ui, sans-serif;
    @apply text-white text-sm font-normal;
  }
}

@layer components {
  .title {
    @apply uppercase tracking-widest text-right font-thin text-[37px] tablet:text-[67px] desktop:text-start tablet:tracking-[8.71px] desktop:text-[98px] text-white w-[646px] desktop:tracking-[-3.92px] leading-tight;
  }
}

@layer components {
  .description {
    @apply text-[18px] text-white font-extralight leading-[1.33];
  }
}

@layer components {
  .description_relax {
    @apply text-[28px] mb-[24px] uppercase text-white font-extralight leading-[0.85];
  }
}

@layer components {
  .description_carrer {
    @apply desktop:w-[285px] desktop:text-left desktop:leading-normal tablet:w-[225px] text-right text-white text-xs font-extralight leading-tight;
  }
}

@layer components {
  .advantages {
    @apply desktop:text-lg desktop:leading-normal tablet:text-base text-right text-white text-sm font-normal leading-tight;
  }
}

@layer components {
  .menu_item {
    @apply text-white cursor-pointer text-lg font-normal tracking-widest tablet:text-sm tablet:cursor-pointer;
  }
}
