.bg {
  position: relative;
  background-image: linear-gradient(#020f0880, #020f0880),
    url("/images/bg_about_mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  fill: #d9d9d9;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(#020f0880, #020f0880),
      url("/images/bg_about_tab.jpg");
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(#020f0880, #020f0880),
      url("/images/bg_about.jpg");
  }
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  opacity: 0.75;
  background: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 100%);
  width: 100%;
  height: 247px;

  @media screen and (min-width: 1280px) {
    height: 257px;
  }
}

.bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  width: 100%;
  background: linear-gradient(0deg, #002426 0%, rgba(0, 37, 49, 0) 100%);
  height: 257px;
}
